{% extends 'common/base.html' %}
{% block content %}
<div class="container mt-5 d-flex flex-wrap gap-5 justify-content-center" id="memo-list">
    {% for memo in memos %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">{{ memo.title }}</h5>
            <small class="card-subtitle mb-2 text-muted">{{ memo.created_at | date:'Y.m.d H:i' }}</small>
            <p class="card-text pt-2">{{ memo.content }}</p>
            <a href="{% url 'memo:memo_detail' memo.pk %}" class="card-link" style="color: #ff7e5f;" onmouseover="this.style.color='#feb47b'" onmouseout="this.style.color='#ff7e5f'">자세히 보기</a>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-danger" role="alert">
        현재 메모가 없습니다 😭
    </div>
    {% endfor %}
</div>
{% endblock %}